@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#97D0D0, grey);
}

body .header{
    left: 0;
    top: 0
}

body .header h2{
    display: flex;
    position: fixed;
    top: 5;
    left: 50;
}

body .header h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 194px;
    background: black;
}

body .header img{
    display: flex;
    position: fixed;
    top: 5;
    left: 5;
    width: 40px;
}

.container{
    max-width: 700px;
    width: 100%;
    background:#fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}




.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#97D0D0, grey);
}



.container form .hotel-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .hotel-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .hotel-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.hotel-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: var(--tran-03);
}

.hotel-details .input-box input:focus,
.hotel-details .input-box input:valid{
    border-color: grey;

}

form button{
    display:block;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin: 25px auto;
    border: none;
    background: linear-gradient(135deg,#97D0D0, grey);
    border-color: none ;
    font-size: 18px;
    font-weight: 500;
    color:#fff;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    
}

form .button .add-btn{
    width: 100%;
    outline: none;
}

form .button .update-btn{
    width: 100%;
    outline: none;
}

form .button .remove-btn{
    width: 100%;
    outline: none;
}

form .button .add-btn:hover{
    background-color: linear-gradient(-135deg,#97D0D0, grey);;
}

